@CHARSET "UTF-8";

div.emptyWhiteSpace {
	background-color: #FFFFFF;
	background-image: url("../Resources/gradientfrombottom.png");
	background-repeat: repeat-x;	
}

div.logoHeader {
	padding-right: 10%;
	z-index: 2;
}

div.greyLine {
	background: none repeat scroll 0 0 #EBEBEB;
	height: 3px;
}

div.header {
	background-color: #F6772F;
	height: 46px;
	line-height: 43px;
	margin: 0;
	vertical-align: middle;
	padding-left: 10%
}

div.header_item {
	font-size: 23px;
	float: left;
	padding-right: 50px;
	visibility: visible; 
}

div.header_menu {
	background-color: #F6772F;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	height: auto;
	font-size: 17px;
	position:absolute; 
	list-style: none;
	line-height: 24px;
	visibility:hidden; 
}

div.header_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: auto;
}

div.header_menu ul li{
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

div.header_menu li ul {
	position: absolute;
	display: none;
}

div.header_menu ul li a {
	color: #000;
	text-decoration: none;
	outline-width:0;
}

div.header_menu ul li a:hover   {
	color:#FFF;
	text-decoration: none;
	outline-width:0; 
}

body{
	font-size: 15px;
	background: none repeat scroll 0 0 #F6F6F6;
}

div.pageBody {
	border-right: 1px solid #ACACAC;
	display: table;
	padding-top: 20px;
	padding-left: 10%;
	padding-bottom: 15px;
	width: 80%;
}

div.pageTable {
	display: table;
	padding-bottom: 15px;
	width: 100%;
}

table.result {
	border: 1px solid #000000;
}

td.title {
	font-size: 18px;
	font-weight: bold;
	background-color: #F6772F;
	height: 30px;
	margin: 0;
	padding-left: 15px;
	vertical-align: middle;
}

td.subtitle {
	color: #EBEBEB;
	font-size: 15px;
	font-weight: bold;
	background-color: #474747;
	height: 20px;
	margin: 0;
	padding-left: 15px;
	vertical-align: middle;
}

td.header {
	background-color: #242424;
	border-right: 1px solid #EBEBEB;
	color: #EBEBEB;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	margin: 0;
	padding-left: 15px;
	vertical-align: middle;
}

td.result {
	background-color: #EBEBEB;
	border-right: 1px solid #FFFFFF;
	color: #000000;
	font-size: 12px;
	height: 20px;
	margin: 0;
	padding-left: 15px;
	vertical-align: middle;
}

div.pageBodyLeft {
	background-color: #FFFFFF;
	background-image: url("../Resources/sidebar-repeat.png");
	background-repeat: repeat-y;
	background-position: right;
	float: left;
	height: 100%;
	padding-top: 10px;
	padding-left: 0%;
	width: 35%;
}

div.pageBodyRight {
	float: left;
	height: 100%;
	text-align: justify;
	padding-top: 10px;
	padding-left: 5%;
	width: 60%;
}

div.footer {
	background: none repeat scroll 0 0 #474747;
	bottom: 0;
	height: 50px;
}

div.footer_copyright {
	color:#FFF;
	font-size: 11px;
	padding-top: 30px;
	text-align: center;
}

img {
	display: block;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

table {
	display: table;
	min-width: 500px;
	width: 100%;
}

td.left {
	padding-top: 15px;
	text-align: right;
	width: 40%;
}

td.right {
	border-right: 3px solid #EBEBEB;
	padding-top: 15px;
	text-align: left;
	width: 60%;
}

td.buttons {
	border-bottom: 3px solid #EBEBEB;
	border-right: 3px solid #EBEBEB;
	padding-left: 40%;
	width: 100%;
}

a, a:link {
	color:#000; 
	text-decoration:none; 
	outline-width:0;
}

a:visited {
	color:#000; 
	text-decoration:none;
}

a:hover   {
	background-color: #F6772F;
	color:#FFF; 
	text-decoration:underline;
}